<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
  <% @course_types.each do |course| %>
  <li>
    <ul>
      <li class="coursetype-index">
        <h2><%= link_to "#{course.name}", course %></h2> <br>
        <h4>Details: <%= course.details %></h4> <br>
        <% if can? :update, CourseType %>
        <%= link_to 'Edit', edit_course_type_path(course) %> |
        <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>

