<p id="notice"><%= notice %></p>

<h1>Current Cohorts</h1>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
  <% @cohorts.each do |cohort| %>
  <li>
    <ul>
      <li class="cohort-index">
        <h2><%= link_to "#{cohort.name}", cohort %></h2>
        Is: <%= link_to "#{cohort.course_type.try(:name)}" , cohort.course_type %> <br>
        Starts: <%= cohort.start_date %> <br>
        <% if can? :update, Cohort %>
        <%= link_to 'Edit', edit_cohort_path(cohort) %> |
        <%= link_to 'Delete', cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>