<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= image_tag @user.image.detail %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Cohorts:</strong>
  <% @user.contracts.each do |c| %>
  <li>
   <%= link_to "#{c.cohort.name}", c.cohort %>
 </li>
</p>
<% end %>


<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>
