<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_type.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @course_type.details %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @course_type.duration %>
</p>

<p>
  <strong>Cohorts:</strong>
  <% @course_type.cohorts.each do |c| %>
  <li>
   <%= link_to "#{c.name}", c %>
 </li>
 <% end %>
</p>

<p>
  <% if can? :update, CourseType %>
  <%= link_to 'Edit', edit_course_type_path(@course_type) %> |
  <%= link_to 'Back', course_types_path %>
  <% end %>
</p>
