<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">GAness</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= image_tag current_user.try(:image).try(:thumb) %></li>
        <li class="has-dropdown">
          <a href="#">
            <% if current_user %>
            <%= link_to "#{current_user.full_name}", current_user %>
            <% else %>
            Login/Signup
            <% end %>
          </a>
          <ul class="dropdown">
            <% if user_signed_in? %>
            <li class="item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <li class="item"><%= link_to('Edit Account', edit_user_registration_path(@user)) %></li>
            <% else %>
            <li class="item"><%= link_to('Login', new_user_session_path) %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
       <li class="has-form">
         <div class="row collapse">
           <div class="large-8 small-9 columns">
             <%= search_form_for @q do |f| %>
             <%= f.text_field @search_field, placeholder: "Search" %>
           </div>
           <div class="large-4 small-3 columns">
             <%= f.submit class: "alert button expand" %>
           </div>
           <% end %>
         </div>
       </li>
       <li><%= link_to "Users", users_path %></li>
       <li class="has-dropdown"><%= link_to "Cohorts", cohorts_path %>
        <ul class="dropdown">
          <li class="item"><%= link_to 'New Cohort', new_cohort_path %></li>
        </ul>
      </li>
      <li class="has-dropdown"><%= link_to "Course Types", course_types_path %>
        <ul class="dropdown">
          <li class="item"><%= link_to 'New Course Type', new_course_type_path %></li>
        </ul>
      </li>
      <li class="has-dropdown"><%= link_to "Classrooms", classrooms_path %>
        <ul class="dropdown">
          <li class="item"><%= link_to "Add Classroom", new_classroom_path %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<main class="row">
  <%= yield %>
</main>

</body>
</html>
