<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

   <!--  <div class="icon-bar five-up">
      <#% if user_signed_in? %>
      <label class="item">
        <#%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </label>                  
      <#% else %>
      <label class="item">
        <#%= link_to('Login', new_user_session_path)  %>
      </label>
      <#% end %>
      <a class="item" href="/users">
        <img src="" >
        <label>Users</label>
      </a>
      <a class="item" href="/cohorts">
        <img src="" >
        <label>Cohorts</label>
      </a>
      <a class="item" href="/course_types">
        <img src="" >
        <label>Course Types</label>
      </a>
      <a class="item" href="/classrooms">
        <img src="" >
        <label>Classrooms</label>
      </a>
    </div> -->


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="row">
      <%= yield %>
    </main>

  </body>
  </html>
