<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <div class="icon-bar five-up">
      <a class="item" href="/">
        <img src="" >
        <label>Users</label>
      </a>
      <a class="item" href="/cohorts">
        <img src="" >
        <label>Cohorts</label>
      </a>
      <a class="item" href="/course_types">
        <img src="" >
        <label>Courses</label>
      </a>
    </div>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
