<%= form_for([@classroom, @booking]) do |f| %>
  <p>
    <%= f.label 'start_time', 'Start time' %>
    <%= f.datetime_select :start_time, { minute_step: 15 } %>
  </p>
  <p>
    <%= f.label 'length', 'Length of booking in hours' %>
    <%= f.number_field 'length', min: 1 %>
  </p>
  <p>
    <%= f.label :course_type %><br>
    <%= f.collection_select :cohort_id, Cohort.all, :id, :name, prompt: "Select a cohort" %>
  </p>
  <%= f.submit 'Submit' %>
<% end %> 
