<p id="notice"><%= notice %></p>

<h1>Listing Cohorts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Course Type</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to "#{cohort.name}", cohort %></td>
        <td><%= link_to "#{cohort.course_type.name}" , cohort.course_type %></td>
        <td><%= cohort.start_date %></td>
        <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Delete', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
